.project-word{
    color: white;
}

.project-word:hover{
    color: #D0D2C3;
}

.card-image-div{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 320px;

}

.card-image-style{
    max-height: 300px;
}

@media (max-width: 767px) {
    .card-row {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


